header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  .btn {
    border-color: $color-primario;
    color: $color-primario;
  }
}

.navbar {
  top: 0;
  ul {
    list-style: none;
    margin-bottom: 0;
    a {
      text-decoration: none;
      color: $color-primario;
    }
  }
}

/* Media Queries: Min-width: 768px */

@media (min-width: 768px) {
  header {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .navbar {
    background-color: rgb(207, 207, 207);
    display: flex;
    justify-content: center;
    transition-property: position;
    transition-duration: 3s;
    position: sticky;
    z-index: 2;

    ul {
      display: flex;
      list-style: none;
      li {
        margin-right: 4rem;
      }
      a {
        text-decoration: none;
        color: $color-primario;
        &:hover {
          color: rgb(255, 255, 255);
        }
      }
    }
  }
}
