body {
  .page_armas {
    border-top: 1px solid $color-primario;
    padding-top: 50px;
    font-size: $font-size;
    color: $color-primario;
    margin-top: 50px;
    margin-bottom: 10px;
  }
  .page_contacto {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 50px;
    color: $color-primario;
  }
  .card {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    transition-property: transform;
    transition-duration: 0.4s;
    &:hover {
      transform: scale3d(1.1, 1.1, 1.1);
      box-shadow: 1px;
    }
  }

  .formulario {
    border-top: 1px solid $color-primario;

    padding-top: 20px;
    color: $color-primario;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .contacto {
    background-color: $color-primario;
    padding: 20px 100px;
    border-radius: 20px;
    div {
      margin-top: 10px;
      margin-bottom: 10px;
      input {
        background-color: #f1d8a2;
        padding: 10px;
      }
      textarea {
        background-color: #f1d8a2;
        padding: 11.5px;
      }
    }
    button {
      background-color: #f1d8a2;
      border-radius: 10px;
      padding: 5px;
    }
  }
}
